{% if isAngularSq == false %}
    {% if title %}
        <h2 id="sq-heading" class="sq-heading">
            Let&rsquo;s check your address to get started
        </h2>
    {% endif %}
    <div class="check-availability" id="sq-wrapper" ng-class="{loaded: true}">
        <div class="location-icon"><span class="fa fa-map-marker" aria-hidden="true"></span></div>
        <label for="address" class="hidden">Input for the address of your internet connection</label>
        <input id="address" class="sq-address-input" placeholder="{{ placeholder }}" type="text" data-splash="yes" data-nomatch="dialog" data-business="{{ business_type }}" />
    </div>
{% endif %}

{% if isAngularSq %}
    {% include '@tpg_sq/sq_address_field--dynamic_layout.html.twig' %}
{% endif %}