<div ng-if="modalView === 'modal-failedSq'">
    <h2 class="coloured-title">
       &nbsp;
    </h2>
    <div class="text-center">
        <p> <span class="sqAddress">We are currently unable to verify the address <br/> {* sq.formed_fulladdress *}. <br/> Please call <a href="tel:1300 720 016">1300 720 016</a></span></p>
        <a href="#" class="pl-10" ng-click="resetSq()">Change address</a>
    </div>
</div>
