<div ng-if="modalView == 'modal-whenHWIsAvailable'">
    <h4>CONGRATULATIONS!</h4>
    <p>We can provide you with a Home Wireless Broadband plan</p>
    <div class="button-wrapper">
        <div class="sq-action-group">
            <div class="sq-action">
                <a class="clickable btn btn-primary btn-yframe sq-action" href="/home-wireless-broadband">
                    <p>View plans</p>
                </a>
            </div>
        </div>
    </div>
</div>
