<div ng-if="modalView == 'modal-when5gIsAvailable'">
    <h4>CONGRATULATIONS!</h4>
    <p>We can provide you with a 5G Home Broadband plan</p>
    <div class="button-wrapper">
        <div class="sq-action-group">
            <div class="sq-action">
                <a class="clickable btn btn-primary btn-yframe" href="/5g-home-broadband">
                    <p>View plans</p>
                </a>
            </div>
        </div>
    </div>
</div>
