<div ng-if="modalView == 'modal-whenIncompleteInvalid'" class="multiTech altTechs text-center mt-30">
    <h4>The address you have entered is incomplete or invalid</h4>
    <div class="button-wrapper">
        <div class="sq-action-group">
            <div class="sq-action">
                <a class="clickable btn btn-primary btn-yframe multiline" data-dismiss="modal" ng-click="resetSq()">
                    <p>
                        Try again
                        <span class="subtext">Ensure all details are correct or check and alternate address</span>
                    </p>
                </a>
            </div>
            <div class="sq-action">
                <a class="clickable btn btn-secondary btn-yframe multiline" href="/nbn#contact">
                    <p>
                        Let Us Contact You
                        <span class="subtext">Leave your details and we will contact you to verify your address</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
