<div ng-if="modalView == 'modal-whenNbnIsNotAvailableButHwIsAvailable'">
    <h4>This product is not available at your address</h4>
    <p>The good news is
        <span ng-if="sq.Services.fwa_4g == 1 && sq.Services.fwa_5g != 1"><a href="/home-wireless-broadband">HOME WIRELESS BROADBAND</a> is</span>
        <span ng-if="sq.Services.fwa_4g != 1 && sq.Services.fwa_5g == 1"><a href="/5g-home-broadband">5G HOME BROADBAND</a> is</span>
        <span ng-if="sq.Services.fwa_4g == 1 && sq.Services.fwa_5g == 1"><a href="/home-wireless-broadband">HOME WIRELESS BROADBAND</a> & <a href="/5g-home-broadband">5G HOME BROADBAND</a> are</span>
        available at your address</p>
    <div class="button-wrapper">
        <div class="sq-action-group">
            <div class="sq-action">
                <div ng-if="sq.Services.fwa_4g == 1">
                    <a class="clickable btn btn-primary btn-yframe" href="/home-wireless-broadband">
                        <p>View Home Wireless Broadband plans</p>
                    </a>
                </div>
                <div ng-if="sq.Services.fwa_5g == 1">
                    <a class="clickable btn btn-primary btn-yframe" href="/5g-home-broadband">
                        <p>View 5G Home Broadband plans</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
