<div ng-if="modalView == 'modal-whenHighSpeedIsNotAvailable'">
    <h4>HIGH-SPEED NBN IS UNAVAILABLE AT YOUR ADDRESS</h4>
    However, you can still get a great-value <a href="/nbn">TPG NBN plan.</a>
    <div class="button-wrapper">
        <div class="sq-action-group">
            <div class="sq-action">
                <a class="clickable btn btn-primary btn-yframe" href="/nbn">
                    <p>View NBN plans</p>
                </a>
            </div>
        </div>
    </div>
</div>