<div ng-if="modalView == 'modal-whenNbnIsAvailable'" class="multiTech text-center mt-30">
    <h4>CONGRATULATIONS!</h4>
    <p>We can provide you with a NBN <span ng-if="sq.NBN.technology === 'Wireless'">Fixed Wireless</span> plan</p>
    <div class="button-wrapper">
        <div class="sq-action-group">
            <div class="sq-action">
                <a class="clickable btn btn-primary btn-yframe " data-dismiss="modal">
                    <p>Choose Your Plan</p>
                </a>
            </div>
            <div class="sq-action">
                <a class="clickable btn btn-secondary btn-yframe" href="/nbn#contact">
                    <p>Let Us Contact You</p>
                </a>
            </div>
        </div>
    </div>
</div>
