<div ng-if="view === 'whenHighSpeedIsAvailable'">
    <h2 class="title-big-pricing">
        HIGH SPEED NBN IS AVAILABLE AT YOUR ADDRESS
    </h2>
    <span class="sqAddress">{* sq.formed_fulladdress *}</span>
    <a href="#" class="pl-10" ng-click="resetSq()">Change address</a>
</div>
