<div ng-if="view === 'whenHWIsAvailable'">
    <h2 class="title-big-pricing">
        <a href="/home-wireless-broadband">HOME WIRELESS BROADBAND</a> IS AVAILABLE AT YOUR ADDRESS
    </h2>
    <span class="sqAddress">{* sq.formed_fulladdress *}</span>
    <a href="#" class="pl-10" ng-click="resetSq()">Change address</a>
</div>
