<div ng-if="view === 'whenHighSpeedIsNotAvailable'">
    <h2 class="title-big-pricing">
        HIGH-SPEED NBN IS UNAVAILABLE AT YOUR ADDRESS
    </h2>
    <h4>
        However, you can still get a great-value <a href="/nbn">TPG NBN plan.</a>
    </h4>
    <span class="sqAddress">{* sq.formed_fulladdress *}</span>
    <a href="#" class="pl-10" ng-click="resetSq()">Change address</a>
</div>